body{
    background-color: rgb(221, 235, 234);
}
body{
    background-color: black;
    
    

}  .secundario__imagem {
    width: 80%;
}
.secundario {
    align-items: center;
    margin: 0 10em;
}
.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}
.descricao__texto {
    color: var(--cinza-secundario);
}
